home/.vim/bundle/
home/bundle/
.com.apple.backupd.*
fish_history
fish_read_history
fishd.*
.netrwhist
autoload
hub
home/.vim/view
.ropeproject
*.cert
home/.config/fish/functions
home/.config/fish/functions/fundle.fish
nodemon.json
home/.vim/black
