[user]
	email = 821688+tebriel@users.noreply.github.com
	name = Chris Moultrie
	signingkey = {{ .SigningKey }}

[gpg]
	format = ssh

[gpg "ssh"]
	program = {{ .OpSSHSignPath }}

[commit]
	gpgsign = true

[init]
	defaultBranch = main
