[user]
	email = 821688+tebriel@users.noreply.github.com
	name = Chris Moultrie
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN1aKZLq2nbpQg49g4AEJTwndtKUGHavct2Bf8BmhqFK

[gpg]
	format = ssh

[gpg "ssh"]
	program = {{ .OpSSHSignPath }}

[commit]
	gpgsign = true

[init]
	defaultBranch = main
