[user]
	email = 821688+tebriel@users.noreply.github.com
	name = Chris Moultrie
	signingkey = {{ .SigningKey }}

[gpg]
	format = ssh

[gpg "ssh"]
	program = {{ .OpSSHSignPath }}

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[credential "https://github.com"]
	helper = 
	helper = !{{ .GhPath }} auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !{{ .GhPath }} auth git-credential
