#
# MakeMKV settings file, written by MakeMKV v1.17.4 linux(x64-release)
#

app_DefaultOutputFileName = "{_s:SN}"
app_DestinationDir = ""
app_ExpertMode = "1"
app_Java = ""
app_Key = "{{onepasswordRead "op://Personal/MakeMKV/license key"}}"
app_Proxy = ""
app_ccextractor = ""
io_ErrorRetryCount = "15"
sdf_Stop = ""

