[[Accounts]]
Name = '{{ onepasswordRead "op://Personal/Hachyderm.io tut/username" }}'
Server = '{{ onepasswordRead "op://Personal/Hachyderm.io tut/Server" }}'
ClientID = '{{ onepasswordRead "op://Personal/Hachyderm.io tut/ClientID" }}'
ClientSecret = '{{ onepasswordRead "op://Personal/Hachyderm.io tut/ClientSecret" }}'
AccessToken = '{{ onepasswordRead "op://Personal/Hachyderm.io tut/AccessToken" }}'
